<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block title %}
        {{ title }}
    {% endblock %}
    <meta name="description" content="SUR LA PEAU
avec
Mélanie Peyre
Zoé Besmond De Senneville
Jean-Marie Godet de Srinath C. Samarasinghe">
    {% block stylesheets %}
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
        <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="fonts/simple-line-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
        <link rel="stylesheet" href="css/smooth.css">
        <link rel="stylesheet" href="css/addenda.css">
        <link rel="stylesheet" href="css/Video-Responsive.css">
    {% endblock %}
</head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="page-footer dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Admin</h5>
                            <ul>
                                <li><a href="login.html">Login</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5>A propos&nbsp;</h5>
                            <ul>
                                <li><a href="https://www.karmaprodworks.com/" target="blank">Karma Prodworks</a></li>
                                <li><a href="http://www.hevadis.com/" target="blank">Hevadis Distribution</a></li>
                                <li><a href="http://globalgenesisgroup.com/" target="blank">Global Genesis Group</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <h5>Mentions Légales</h5>
                            <ul>
                                <li><a href="mentions.html">Mentions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p>© 2019 Karma Prodworks - Antoni Hadzi Janev - Hevadis Distribution</p>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="js/jquery.min.js"></script>
            <script src="bootstrap/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
            <script src="js/smoothproducts.min.js"></script>
            <script src="js/theme.js"></script>
        {% endblock %}
    </body>
</html>
