{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="genese.html">GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="actors.html">LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="scenario.html">EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="gallery.html">GallerIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="extraits.html">EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="tournage.html">LIEUX DE TOURNAGE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post-list.html">ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="blog-post.html">BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page blog-post">
        <section class="clean-block clean-post dark"><div class="block-heading"><h2 class="text-info">BLOG</h2></div>
            <div class="container">
                <div class="block-content"><div class="post-image" style="background-image:url('/img/gallery/SURLAPEAU2017__64511BG.jpg');"></div>
                    <div id="article-body" class="post-body">
                        <h4>Projection</h4>
                        <div class="post-info"><span>Par Camille Jouhair</span><span>21.05.2019</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
                            leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><img class="rounded img-fluid" src="/img/gallery/thumbnail_movie/SURLAPEAU2017__96361_S.jpeg"
                                                                                                                                                                                                                      alt="A generic square placeholder image with rounded corners in a figure."></div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}