{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button
                    class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.php">ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="genese">GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="actors">LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="scenario">EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="gallery">GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="extraits">EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="tournage">LIEUX DE TOURNAGE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post-list">ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post">BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">EDGAR SEKLOKA</h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/actors/edgar_sekloka.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">Edgar Sekloka</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><br><br><br>auteur-compositeur-interprète<br>Années 2000, Edgar rencontre le chanteur-poète Apkass qui en 2004, pour la commémoration des<br>dix ans du génocide des Tutsi du Rwanda, monte une pièce de théâtre-slam intitulée L’éclipse
                        des<br>cent jours. D'où émergera le collectif Chant d’encre.<br>2006-2007, Tibo Bérard, éditeur Xprim’ au sein des éditions Sarbacane, propose à Edgar d'écrire un<br>roman.<br>2008, Edgar publie son premier roman, Coffee et fonde
                        le groupe Milk Coffee and Sugar avec Gaël<br>Faye ainsi que Touria El Haouzi en manager.<br>2009, l'album éponyme du groupe Milk Coffee &amp; Sugar est lancé.<br>2011, Edgar publie son deuxième roman, Adulte à présent aux éditions
                        Sarbacane.<br>2012, Edgar publie le recueil de poèmes 'tite chose dans la maison d'édition Carnets-Livres.<br>2015, Edgar quitte le groupe.<br>2016, Edgar sort un EP Ici / Là-bas, avec l'aide à l'autoproduction de la Sacem.<br>2016-2017,
                        Edgar entame un cycle de cinés-jams avec les cinémas mk2, cinés-concerts dans lesquels<br>il revisite les courts-métrages de Charlie Chaplin en invitant des artistes d'horizons variés, de Radikal<br>MC à Lou Marco en passant par
                        JP Manova, Mélissa Laveaux ou encore FM Laeti.<br>Juin 2018, Edgar sort le EP Chaplinesques<br>Novembre 2018, Edgar est lauréat du Prix des Musiques d'ici dans le cadre du festival Villes Des<br>Musiques Du Monde.<br>Parallèlement
                        à la musique et aux lettres, Edgar anime des ateliers d’écriture.<br><br>Bibliographie<br>2008 - Coffee, collection Xprim, éditions Sarbacane, roman<br>2011 - Adulte à présent collection Xprim, éditions Sarbacane, roman<br>2012
                        - ‘Tite Chose, éditions Carnets-Livres, recueil de poèmes à venir<br>jan 2019 – Jou, éditions Carnets-Livres, recueil de poèmes<br>2019 – roman à suivre chez L'Iconoclaste<br>Discographie<br>2010 – Milk Coffee and Sugar, 6D Production,
                        Musicast<br>2016 – Ici / Là-bas, SUGA MUSIC<br>2018 – Chaplinesques, SUGA MUSIC<br><br>Films<br>2015 – Nazar Palmus de Srinath C. Samarasinghe<br>2017 – Sur la Peau de Srinath C.&nbsp;Samarasinghe<br></p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}