{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.php">ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="genese">GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="actors">LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="scenario">EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="gallery">GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="extraits">EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post-list">ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post">BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">JEAN-MICHEL CORREIA</h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/actors/jean_michel_correia.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">Jean-Michel Correia</h4><p class="card-text">Agent <a href="http://www.ubba.eu/fiche.cfm/395914_115-2_jean-michel-correia.html" target="blank">UBBA</a></p>
                                    <div class="icons"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><br><br><br>Après plusieurs années passées en prison, Jean-Michel a recroisé un ami producteur l’a encouragé à écrire, notamment sur son histoire. Il avait particpé à un atelier d’écriture en détention, et collaboré à une revue éditée
                        là-bas,&nbsp;<em>Paroles Fleury</em>. Cette écriture l'a emmené à la réalisation de son premier long métrage <em>Sous X.</em>&nbsp; <br>Il avait tout d’abord croisé Jean-François Richet.&nbsp;Il avait apprécié son travail d'écriture
                        et lui avait permis de devenir chauffeur de production sur <em>Mesrine</em>. Il a ensuite rencontré Thomas Bidegain&nbsp;qui a vu en lui du talent. Il l’a appelé pour qu'il soit son conseiller technique au vu de son expérience
                        carcérale.<br></p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}