{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.php">ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="genese">GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="actors">LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="scenario">EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="gallery">GallerIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="extraits">EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="tournage">LIEUX DE TOURNAGE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post-list">ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post">BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">MELANIE PEYRE</h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/actors/melanie_peyre.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">Mélanie Peyre</h4><p class="card-text">Agent <a href="http://www.agence-aml.com/artiste.cfm/568250-melanie-peyre.html" target="blank">AML</p></div>
                            </div>
                        </div>
                    </div>
                    <p><br><br><br>Après sa formation au Conservatoire&nbsp;du Vème, Mélanie a collaboré avec différents réalisateurs sur des courts-métrages diffusés en festival.<br>Elle a notamment joué dans <em>Les deux couleurs d’Ortance</em>,&nbsp;un
                        drame sur la bipolarité signé Malec Démiaro, puis&nbsp;aux côtés de Damien Bonnard dans l’Apologie des <em>Zèbres Albinos</em>, une comédie d’anticipation réalisée par Guillaume Talvast.<br>Elle rencontre Srinath en 2015, il lui
                        offrira avec <em>Sur la peau</em> l’occasion de tenir pour&nbsp;la première fois le rôle principal d’un long métrage.<br>Au théâtre, Mélanie a notamment joué dans&nbsp;<em>Eigengrau</em>&nbsp;avec la Cie Blasted ! puis sous la
                        direction de Noémie Fargier dans&nbsp;<em>Une Recrue</em>&nbsp;et&nbsp;<em>Marianne sur un fil</em>&nbsp;pour la Cie Ascorbic. Elle fonde avec Flora Bourne-Chastel la&nbsp;Compagnie Bleu Vendange&nbsp;avec laquelle elle ont monté&nbsp;<em>La Vergogne</em>.&nbsp;<br>Mélanie
                        prépare actuellement une nouvelle collaboration avec Arte sur un programme court et travaille sur une création théâtrale prévue pour la saison prochaine.</p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}