{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.php">ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="genese">GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="actors">LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="scenario">EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="gallery">GallerIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="extraits">EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="tournage">LIEUX DE TOURNAGE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post-list">ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post">BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">ZOE BESMOND DE SENNEVILLE</h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/actors/zoe_bds.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">Zoé Besmond De Senneville</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><br><br><br>Zoé est une comédienne basée à Paris. Elle s’est formée au jeu d’acteur entre les<br>Etats-Unis et Paris&nbsp;Depuis 2012, elle a tourné dans Le Petit Poucet de Marina de Van,<br>Fais Pas Ci Fais Pas Ca pour France 2, Sur
                        La Peau de Srinath Samarasinghe, Un Peu Après<br>Minuit d’AM Puga et JR Garcia, Pardonnez Mon Inconstance de Juliette Chenais de<br>Busscher…. Au théâtre, elle a joué le seul en scène Souriya de Maria Oudaïmah(Théâtre<br>Berthelot
                        de Montreuil, Maison d’Europe et d’Orient, Festival International de<br>Monologue de La Paz au Mexique), avec la Compagnie Umbral, Le Cabaret des Mots de<br>Matéi Visniec (Avignon, Festival de Sibiu, Roumanie, l’Avare&nbsp;avec
                        la compagnie. Depuis<br>2015,&nbsp;Zoé articule également son travail de poésie, réalise des performances avec<br>plusieurs artistes (Zoé Stark, 3615, Le Bordel de la poésie), et publie dans différentes<br>revues web ou papier,
                        en France et aux Etats-Unis (Great Weather for Media, Visitant Lit,<br>Terre à Ciel, Objet,…).<br><br>http://zoebesmonddesenneville.tumblr.com/<br>http://www.allocine.fr/personne/fichepersonne_gen_cpersonne=821487.html<br>https://www.imdb.com/name/nm6902272/<br>http://actorsfactory-studio.fr/team/zoe-besmond-de-senneville/<br></p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}